    .book-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, 20em);
        gap: 10px;
        position: relative;
        display: "inline-block";
        max-width: 100%;
    }